.arrowed {
    position: absolute;
    width: 28px;
    height: 28px;
    right: 5px;
    top: 65px;
    -webkit-backface-visibility: hidden
}

.aritcle-list
{
    width:100%;   
}

.bg-arrow
{
    background-color: black;
    position: absolute;
    right: 0px;
    width: 35px;
    height: 150px;
    -webkit-backface-visibility: hidden
}

.article-row
{
    
}